@charset "utf-8";

.topBand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7vw;
  background-color: #02065D;
  width: 100%;

  @media (max-width:500px) {
    display: block;
    text-align: center;
    padding: 10px;
  }
}

h1 {
  font-size: 3rem;
  color: #fff;
}

h3 {
  font-size: 1rem;
  color: #fff;
}

.topBandItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.topBandItem02 {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1vw;
    @media (max-width:500px) {
		display: block;
		text-align: center;
		padding: 10px;
        font-size:0.3rem;
	}
}

.homeWrap {
  margin: 0 auto;
  height: 200vh;
  width: 100%;
  background-color: aliceblue;
}


.border_btn04 {
  display: inline-block;
  width: 25%;
  max-width: 125px;
  /* ボタン幅 */
  position: relative;
  color: #F88400;
  /* 文字色 */
  border: 3px solid #F88400;
  /* 線幅・種類・色 */
  border-radius: 30vw;
  background: #fff;
  /* 背景色 */
  padding: 0.2rem 0.3rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}


/*    Earth   */

#myCanvas,
#myCanvas02,
#myCanvas03 {
  margin: 0 auto;
  padding: 0 0 0 35vw;

  @media (max-width:700px) {
    padding: 0 0 0 5vw;
  }
}

.homeText {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-fluid {
  padding: 1rem 2%;
}

.table {
  table-layout: fixed;
}

.table tr td {
  vertical-align: middle;
}

.table tr td {
  word-wrap: break-word;
}

input[type="file"] {
  overflow: hidden;
}

.container-fluid {
  padding: 1rem 2%;
}

.table {
  table-layout: fixed;
}

.table tr td {
  vertical-align: middle;
}

.table tr td {
  word-wrap: break-word;
}

input[type="file"] {
  overflow: hidden;
}