<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/styletodo.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="js/app02.js"></script>

</head>

<body>
    <div class="topBand">
        <h1>Vue.js</h1>
        <div class="topBandItem">
            <a href="index.html">
              <h3>Calculator</h3>
            </a>
            <a href="todo.html">
              <h3>ToDoList</h3>
            </a>
            <a href="tree.html">
              <h3>TreeView</h3>
            </a>
            <div class="topBandItem02">
              <a href="index.html" class="border_btn04">Vue</a>
              <a href="index02.html" class="border_btn04">Three</a>
              <a href="index03.html" class="border_btn04">Chart</a>
              <a href="index04.html" class="border_btn04">Boot</a>
            </div>
      
          </div>
    </div>

    <div class="app02Wrap">
        <div id="app02">
            <section class="todoapp">
                <header class="header">
                    <h1>本日の予定</h1>
                    <input class="new-todo" autofocus placeholder="行動予定?" @keyup.enter="addTodo">
                </header>
                <section class="main" v-show="todos.length">
                    <input id="toggle-all" class="toggle-all" type="checkbox" :checked="remaining === 0"
                        @change="toggleAll">
                    <label for="toggle-all">Mark all as complete</label>
                    <ul class="todo-list">
                        <li v-for="todo in filteredTodos" class="todo" :key="todo.id"
                            :class="{ completed: todo.completed, editing: todo === editedTodo }">
                            <div class="view">
                                <input class="toggle" type="checkbox" v-model="todo.completed">
                                <label @dblclick="editTodo(todo)">{{ todo.title }}</label>
                                <button class="destroy" @click="removeTodo(todo)"></button>
                            </div>
                            <input v-if="todo === editedTodo" class="edit" type="text" v-model="todo.title"
                                @vue:mounted="({ el }) => el.focus()" @blur="doneEdit(todo)"
                                @keyup.enter="doneEdit(todo)" @keyup.escape="cancelEdit(todo)">
                        </li>
                    </ul>
                </section>
                <footer class="footer" v-show="todos.length">
                    <span class="todo-count">
                        <strong>{{ remaining }}</strong>
                        <span>{{ remaining === 1 ? ' item' : ' items' }} left</span>
                    </span>
                    <ul class="filters">
                        <li>
                            <a href="#/all" :class="{ selected: visibility === 'all' }">All</a>
                        </li>
                        <li>
                            <a href="#/active" :class="{ selected: visibility === 'active' }">Active</a>
                        </li>
                        <li>
                            <a href="#/completed" :class="{ selected: visibility === 'completed' }">Completed</a>
                        </li>
                    </ul>
                    <button class="clear-completed" @click="removeCompleted" v-show="todos.length > remaining">
                        Clear completed
                    </button>
                </footer>
            </section>
        </div>
    </div>

</body>

</html>